<div class="login col-md-4 col-md-offset-4 col-sm-6">
  <form action="/auth/login" method="POST">
      <div class="form-group" style="margin-top: 2rem;">
        <input id="authEmail" class="validate form-control" type="email" name="email" placeholder="Email">
        <label for="authEmail" class="active" data-error="wrong"></label>
      </div>
      <div class="form-group" style="margin-top: 0;">
        <input id="authPassword" class="validate form-control" type="password" name="password" placeholder="Password">
        <label for="authPassword" class="active" data-error="wrong"></label>
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>
