<div class="col-md-4 col-md-offset-4">
  <h1><%= data.fullName %></h1>
  <p><%= data.email %></p>
  <p><%= data.job %></p>
  <a href="/profile/edit/<%= data.id %>" class="button tiny white">Edit</a>
</div>
