
<div class="login col-md-4 col-md-offset-4 col-sm-6">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="200px" height="300px" viewBox="0 0 300 500" enable-background="new 0 0 300 500" xml:space="preserve"  class="svg-logo">
    <polyline fill="#FFFFFF" stroke="#4FC08D" stroke-width="60" stroke-miterlimit="10" points="37,481 37,50 262,50 262,258 55,258
      "/>
    <polyline fill="#FFFFFF" stroke="#34495E" stroke-width="60" stroke-miterlimit="10" points="90,481 90,104 210,104 210,204
      106,204 "/>
  </svg>
  <div class="element">
    <div class="login col-md-12">
      <h2 class="head">Pitcherr</h2>
      <p class="tagline">Pitch your idea and validate</p>
    </div>
    <div class="col-md-12">
      <a class="button" href='/auth/signup'>Get Started</a>
      <a class="button white" href='/auth/login'>Login</a>
    </div>
  </div>
</div>
