/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.button {
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    /*transition: all 0.15s ease;*/
    box-sizing: border-box;
    border: 1px solid #4fc08d;
}

.tiny {
    padding: 0.4em 1em;
}

.button:hover{
    color: white;
    text-decoration: none;
}

.button.white {
  background-color: #fff;
  color:#4fc08d;
}

.login {
  padding-left: 0 !important;
  text-align: center;
  margin-bottom: 30px;
}

.head {
  font-weight: 100;
  font-size: 50px;
  color: #2c3e50;
}

.tagline {
  font-weight: 100;
  font-size: 24px;
  color: #2c3e50;
}

.badge {
  background-color: #4fc08d !important;
}

/*search*/

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #4fc08d;

	-webkit-box-shadow: 0 0 1px rgba(79,192,141,.5);
	-moz-box-shadow: 0 0 1px rgba(109,207,246,.5);
	box-shadow: 0 0 1px rgba(79,192,141,.5)
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 38px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #ededed;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

.navbar.navbar-default.extra {
  background-color: #fff;
  border-radius: 0;
}

.top-link {
  text-align: center;
  margin-bottom: 40px;
}

.card1:hover {
  text-decoration: none;
}

.card1:focus {
  text-decoration: none;
}

.thumbnail:hover {
  box-shadow: 0 0 3px rgba(35,152,127,0.8)
}

.linkchange {
    text-decoration: none;
    color: #7f8c8d;
    font-size: 14px;
    font-weight: 200;
}

.linkchange:hover {
    text-decoration: none;
    color: #7f8c8d;
    border-bottom: solid 2px #42b983;
}

.linkchange:focus {
    text-decoration: none;
    color: #7f8c8d;
}

.byline {
  margin-top: 40px;
}

.byline.below{
  color: #42b983
}

.byline2 {
  margin-top: 10px;
}

.maintitle {
  margin-bottom: 40px;
}

.read{
  font-weight: 200;
}

.sidelink {
  color:#34495e;
  display: block;
  text-decoration: none;
  margin-bottom: 7px;
  font-size: 12px;
}

.sidelink:hover {
  color:#34495e;
  display: block;
  text-decoration: none;
}

.sidelink:focus {
  color:#34495e;
  display: block;
  text-decoration: none;
}

.sidebarTitle {
  color: #42b983;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 15px;
}

.brandIcon {
  margin: 5px 10px 5px 15px;
}

.brandTitle {
  color: #2c3e50 !important;
}

/*tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
