<div class="login col-md-4 col-md-offset-4 col-sm-6">
  <form action="/idea/create" method="POST">
      <div class="form-group" >
        <label for="authName" class="active" data-error="wrong"></label>
        <input id="authName" class="form-control" type="text" name="title" placeholder="Title">
      </div>
      <div class="form-group" >
        <label for="authName" class="active" data-error="wrong"></label>
        <input id="authName" class="form-control" type="text" name="industry" placeholder="Industry">
      </div>
      <div class="form-group" >
        <label for="authEmail" class="active" data-error="wrong"></label>
        <textarea id="authEmail" class="form-control" type="text" name="description" placeholder="Description"></textarea>
      </div>
      <div class="form-group" >
        <label for="authPassword" class="active" data-error="wrong" data-success="right"></label>
        <textarea id="authPassword" class="form-control" type="text" name="businessplan" placeholder="Business Plan"></textarea>
      </div>
      <div class="form-group" >
        <label for="authName" class="active" data-error="wrong"></label>
        <input id="authName" class="form-control" type="text" name="type" value="pitch" readonly="readonly">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </form
</div>
