<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-3">
      <a href="#" class="button tiny byline">Follow</a><br />
      <a href="#" class="button tiny white byline2">Join</a>
      <p class="byline below">Submited by </p>
      <a href=#Description class="linkchange">Description</a><br />
      <a href=#BusinessPlan class="linkchange">Business Plan</a><br />
      <a href=#Teams class="linkchange">Teams</a><br />
      <a href=#Comment class="linkchange">Comments</a>
    </div>
    <div class="col-md-8 read">
      <h1 class="maintitle"><%= data.title %></h1>
      <h4 name="Description">Description</h4>
      <hr>
      <p><%= data.description %></p>
      <br />
      <h4 name="BusinessPlan">Business Plan</h4>
      <hr>
      <p><%= data.businessplan %></p>
      <br />
      <h4 name="Comment">Comment</h4>
      <hr>
      <form class="form-group col-md-6" action="index.html" method="post">
        <textarea class="form-control" name="comment" rows="6" cols="40"></textarea>
      </form>
    </div>
  </div>
</div>
