<div class="login col-md-4 col-md-offset-4 col-sm-6">
  <form action="/inspiration/create" method="POST">
      <div class="form-group" >
        <label for="authName" class="active light" data-error="wrong">Post your problems or anything you wish here</label>
        <textarea id="authName" class="form-control" type="text" name="problem" placeholder="Type here" rows="8"></textarea>
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </form
</div>
